html{
  overflow-y: hidden !important;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;

}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 4px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.8);
  
}


